
<% include ../partials/header.ejs %>

<div class="container">
    <div class="jumbotron">
<body><p>
    1. Jantar Mantar-The Maze Runner <br>
        <img src="./public/Content/Assets/images/pro1.jpg" height="600px" width="600px"><br>
        <b>This was csgo level designed by me for the company named Drag2Death.</b>
        <br>
        <br>
        <br>
        2. Shift Scheduler<br>
        <img src="./public/Content/Assets/images/pro2.jpg" height="600px" width="600px"> <br>
        <b>This was a group project which we submitted for the cousre Software Devlopment Project-1. My main responsibility was testing and UI design and devlopment.  </b>
        <br>
        <br>
        <br>
        3. 
</p>
</body>


    </div>


<% include ../partials/footer.ejs %>


