
<% include ../partials/header.ejs %>

<div class="container">
    <div class="jumbotron">
<body><p>
<h2><u> List Of Projects: </h2></u>
<br>
<br>
    <h2> 1. Jantar Mantar-The Maze Runner <br> </h2>
        <img src="./public/Content/Assets/images/pro1.jpg" height="300px" width="300px"><br>
        <i>This was csgo level designed by me for the company named Drag2Death. I used Valve hammer editor that is free to download and then i had to initally learn about how to use the software. I followed tutorials on CSGO World Level Of Design.</i>
        <br>
        <br>
        <br>
      <h2>  2. Shift Scheduler<br> </h2>
        <img src="./public/Content/Assets/images/pro2.jpg" height="300px" width="300px"> <br>
        <i>This was a group project which we submitted for the cousre Software Devlopment Project-1. My main responsibility was testing and UI design and devlopment.  </i>
        <br>
        <br>
        <br>
      <h2> 3. Express Portfolio <br></h2>
        <img src="./public/Content/Assets/images/pro3.png" height="300px" width="300px"> <br>
        <i> This was the first assignment submitted for the course Emerging Technologies in which we learned how to use Git Hub and also how to use bootstrap. </i>
        <br>
        <br>
        <br>
</body>


    </div>


<% include ../partials/footer.ejs %>


