<% include ../partials/header.ejs %>

     <div class="container">
       <div class="jumbotron">
           <h1 class="display-4">Atul Sharma</h1>
           <p class="lead">
           Here you can get overview of all the services offered.</p>
           <hr class="my-4">
           <p>  </p>
           <p class="lead">
           <h3>Services Offered...</h3>
             <ol>   
             <li>Adobe Photoshop CS6</li>
             <li>Networking: Basic knowledge of installation and PC configuration.</li>
             <li>Operating Systems: Windows XP Professional, Linux, Unix, MS DOS</li>
             <li>Applications: Microsoft Office, Eclipse, Visual Studio, Visual Studio Code.</li>
             </ol>
           </p>
         </div>
     </div>
<% include ../partials/footer.ejs %>