<app-header> </app-header>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Hello, My name is Atul Sharma!</h1>
    <p class="lead"></p>
    <hr class="my-4" />
    <p>
      Build the best product, cause no unnecessary harm, use business to inspire
      and implement solutions to the environmental crisis.
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" role="button" href="/aboutme">
        Let's Explore!</a
      >
    </p>
  </div>
</div>
<h1></h1>
<b> Atul Sharma </b>
<app-footer></app-footer>
<router-outlet></router-outlet>
