<% include ../../partials/header.ejs %>

<div class="container">
    <div class="jumbotron">



<img src="../../public/Content/Assets/images/self.JPG" height="300px" width="250px"  > <br>
<body><p></p> Name: Atul Sharma <br>
 EDUCATION: - I am studying Software Engineering Technology from Centennial College. I have also completed Bachelor’s degree in Computer Engineering from India. <br>
TECHNICAL SKILLS: - During my academic studies at Centennial College, I have developed key technical skills in HTML, CSS, Adobe Photoshop CS6, AWS AND VISUAL CODE.<br>


INTERPERSONAL SKILLS: - My interpersonal skills include dependability, self-motivated, responsible and Cooperative
  </body></p>     
  <a href="../public/Content/Assets/docs/resume.pdf">My Resume</a>
  
</div>

<% include ../../partials/footer.ejs %>
